<div class="ui container">
  <h2>新規登録</h2>
  <div class="ui large form error">
    <div class="ui stacked segment">
      <%= form_with model: @user, local: true do |f| %>
        <%= render 'shared/error_messages', object: @user %>

        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= f.text_field :name, placeholder: "UserName" %>
          </div>
        </div>

        <div class="field">
          <div class="ui left icon input">
            <i class="envelope icon"></i>
            <%= f.email_field :email, placeholder: "E-mail address" %>
            </div>
        </div>

        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password, placeholder: "Password" %>
          </div>
        </div>

        <div class="field">
          <div class="ui left icon input">
            <i class="eye slash icon"></i>
            <%= f.password_field :password_confirmation, placeholder: "Password confirmation" %>
            </div>
        </div>

        <%= f.submit '新規登録', class: "ui fluid large teal button" %>
      <% end %>
    </div>
  </div>
  <div class="ui message">
    <p>already user? <%= link_to "ログイン", login_path %></p>
  </div>
</div>
