<div class="ui container">
  <h2>新規登録</h2>
  <div class="ui large form error">
    <div class="ui stacked segment">
      <%= form_with model: @user do |f| %>
        <%= render 'shared/error_messages', object: @user %>

        <div class="field">
          <label>名前</label>
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= f.text_field :name, placeholder: "例：サンプル太郎" %>
          </div>
        </div>

        <div class="field">
          <label>メールアドレス</label>
          <div class="ui left icon input">
            <i class="envelope icon"></i>
            <%= f.email_field :email, placeholder: "例：example@gmail.com" %>
            </div>
        </div>

        <div class="field">
          <label>パスワード</label>
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password, placeholder: "例：●●●●●●(6文字以上)" %>
          </div>
        </div>

        <div class="field">
          <label>パスワード再入力</label>
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password_confirmation, placeholder: "例：●●●●●●(6文字以上)" %>
            </div>
        </div>

        <%= f.submit '新規登録', class: "ui fluid large teal button" %>
      <% end %>
    </div>
  </div>
  <div class="ui message">
    <p>already user? <%= link_to "ログイン", login_path %></p>
  </div>
</div>
