<div class="ui container">
  <h2>成果物編集</h2>
  <div class="ui large form error">
    <%= form_with model: @product, local: true do |f| %>
      <%= render 'shared/error_messages', object: @product %>
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label :body %>
        <%= f.text_area :body %>
      </div>
      <div class="ui left icon input">
        <i class="save icon"></i>
        <%= f.submit '変更内容を保存する', class: "ui green button " %>
      </div>
    <% end %>
  </div>

  <div class="ui hidden divider">
    <%= link_to product_path(@product), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "ui red button" do %>
      <i class="trash icon"></i>
      成果物を削除する
    <% end %>
  </div>
</div>
