<div class="ui container">
  <h2 class="heading">成果物編集</h2>
  <div class="ui large form error">
    <%= form_with model: @product do |f| %>
      <%= render 'shared/error_messages', object: @product %>
      <div class="field">
        <label>画像</label>
        <%= f.file_field :image, accept: "image/*" %>
      </div>
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label :url %>
        <%= f.text_field :url %>
      </div>
      <div class="field">
        <%= f.label :tag_names %>
        <%= f.text_field :tag_names, value: @tag_list, placeholder: "成果物に関連するタグをカンマ区切りで5つまで入力。（例：Ruby,Rails）" %>
      </div>
      <div class="field">
        <%= f.label :overview %>
        <%= f.text_field :overview %>
      </div>
      <div class="field">
        <%= f.label :background %>
        <%= f.text_area :background %>
      </div>
      <div class="field">
        <%= f.label :usage %>
        <%= f.text_area :usage %>
      </div>
      <div class="field">
        <%= f.label :ingenuity %>
        <%= f.text_area :ingenuity %>
      </div>
      <div class="field">
        <%= f.label :other %>
        <%= f.text_area :other %>
      </div>
      <div class="field">
        <%= f.label :features %>
        <%= f.text_area :features %>
      </div>
      <div class="field">
        <%= f.label :technology %>
        <%= f.text_area :technology %>
      </div>
      <div class="ui left icon input">
        <i class="save icon"></i>
        <%= f.submit '変更内容を保存する', class: "ui green button " %>
      </div>

      <%= link_to product_path(@product), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "ui right floated red button" do %>
        <i class="trash icon"></i>
        成果物を削除する
      <% end %>
    <% end %>
  </div>
</div>
