<div class="ui container">
  <h2>成果物一覧</h2>

    <div class="ui stackable grid">
      <div class="four column row">
        <div class="right floated column">
          <%= link_to new_product_path do %>
            <button class="ui primary basic button">
              <i class="plus square icon"></i>
              新規投稿
            </button>
          <% end %>
        </div>
      </div>
    </div>

  <div class="ui link cards">
    <% @products.each do |product| %>
    <div class="card">
      <div class="ui midium image">
        <%= link_to product_path(product) do %>
          <% if product.image.attached? %>
            <%= image_tag product.image %>
          <% else %>
            <%= image_tag 'no_app_image'%>
          <% end %>
        <% end %>
      </div>
      <div class="content">
        <div class="header"><%= link_to product.title, product_path(product) %></div>
        <div class="meta"><%= link_to product.user.name, user_path(product.user) %></div>
        <div class="description"><%= product.overview %></div>
      </div>
      <div class="extra content">
        <span class="right floated">Joined in 2013</span>
        <span>
          <i class="user icon"></i>
          75 Friends
        </span>
      </div>
    </div>
    <% end %>
  </div>

</div>
