<div class="ui container">
  <h2>成果物一覧</h2>
    <div class="ui stackable grid">
      <div class="four column row">
        <div class="right floated column">
          <%= link_to new_product_path do %>
            <button class="ui primary basic button">
              <i class="plus square icon"></i>
              新規投稿
            </button>
          <% end %>
        </div>
      </div>
    </div>

  <% if params[:tag_name].present? %>
    <div class="ui horizontal divider">
      <h1><%= params[:tag_name] %></h1>
    </div>
  <% end%>

  <div class="ui link cards three column stackable grid">
    <% @products.each do |product| %>
    <div class="column">
      <div class="ui fluid card">
        <div class="image">
          <%= link_to product_path(product) do %>
              <%= image_tag product.get_image(1000,1000), class: "img_status" %>
          <% end %>
        </div>
        <div class="content">
          <div class="ui dividing header"><%= link_to product.title, product_path(product) %>
            <span id="favorite_btn_<%= product.id %>" class="ui right floated sub header" style="padding-top: 2.1px;">
              <%= render partial: 'favorites/favorite_btn', locals: { product: product } %>
            </span>
            <div class="sub header"><%= link_to product.user.name, user_path(product.user), style: "color: gray;" %></div>
          </div>
          <div class="description"><%= product.overview %></div>
        </div>
        <div class="extra content">
          <div class="ui blue mini labels">
            <% product.tags.pluck(:name).each do |tag| %>
              <%= link_to tag, products_path(tag_name: tag), class: "ui blue basic mini label" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

</div>