<div class="ui container">
  <h3>成果物投稿</h3>
  <div class="ui large form error">
    <%= form_with model: @product, local: true do |f| %>
      <%= render 'shared/error_messages', object: @product %>
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label :overview %>
        <%= f.text_field :overview %>
      </div>
      <div class="field">
        <%= f.label :body %>
        <%= f.text_area :body %>
      </div>
      <div class="field">
        <%= f.label :features %>
        <%= f.text_area :features %>
      </div>
      <div class="field">
        <%= f.label :technology %>
        <%= f.text_area :technology %>
      </div>
      <%= f.submit '新規登録', class: "ui blue button" %>
    <% end %>
  </div>
</div>
