<div class="ui container">
  <h2>成果物詳細ページ</h2>

  <div class="ui items">
    <div class="item">
      <%= link_to user_path(@product.user), class: "ui image" do %>
        <%= image_tag @product.user.get_image(100,100) %>
      <% end %>
      <div class="middle aligned content">
        <%= link_to @product.user.name, user_path(@product.user) %>
        <div class="description">
          <p>投稿日: <%= l @product.created_at %></p>
          <p>更新日: <%= l @product.updated_at %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="ui center aligned grid">
    <%= image_tag @product.get_image(1000,600), class: "thirteen wide column" %>
  </div>

  <h3><%= @product.title %></h3>
  <p><%= link_to @product.url, @product.url, target: "_blank", rel: "noopener noreferrer" %></p>
  <p><%= @product.overview %></p>
  <p><%= @product.body %></p>
  <p><%= @product.features %></p>
  <p><%= @product.technology %></p>

  <% if current_user?(@product.user) %>
    <p><%= link_to '編集する', edit_product_path(@product), class: "ui button" %></p>
  <% end %>
</div>